/* Videó forrásának mérete */
.idezetvideo {
  font-size: 200%;
  font-style: italic;
  width: 200%; 
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}
/* Beágyazott videó középre igazítása */
.velemenyek iframe {
  display: block;
  margin: auto;
}

/* Footer formázása */
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 80px 0;
}

/* .form-container és .iframe-container elrendezése */
.form-container, .iframe-container {
  display: inline-block;
  margin-right: 20px; /* Példaként 20px távolság a két elem között */
}

/* Oldal alsó részének magasságának beállítása */
#wrapper {
  min-height: calc(100vh - 100px); /* A footer és egy kis plusz térköz hozzáadása az oldal alján */
  padding-bottom: 100px; /* A footer magassága */
}
div.container{
  padding: 40px;
  text-align: center;
}
.informaciosdiv{
  width: 400px;
  height: auto;
}
.kepekkonyv{
  padding: 40px;
}
.informaciosdiv .szelekt{
  display: inline;
}
#container{
  padding: 10px;
}
.header-kep {
  background-color: #333; /* Háttérszín beállítása */
  color: white; /* Szövegszín beállítása */
  height: 80px; /* Változtathatod a fejléc magasságát itt */
  display: flex; /* Rugalmas elrendezés beállítása */
  justify-content: center; /* Tartalom középre igazítása */
  align-items: center; /* Elemek középre igazítása a tengelyen */
}

.header-text {
  font-size: 30px;
}
.fejlec{
  background-image: url("images/vilagur.jpg");
}